body {
    background-color: #ADFF2F; /* Replace with your desired color */
}



/* Main content area width */
.wy-nav-content {
    max-width: 1000px !important;
    width: 100% !important;
    margin: 0 auto !important;
}


.wy-grid-for-nav {
    display: flex !important;
    justify-content: center !important;
}